@charset "utf--8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

/*esse cod abx é pra quando voce rolar a tabela o cabeçalho role junto fica mais facil de ver o nome da coluna. pra tabelas grandes*/
thead>tr>th {
    position: sticky;
    top: -1px;
    background-color: gray;
}

/*
tr:hover {
    background-color: yellow;
}
*/

td,
th {
    border: 1px solid black;
    padding: 10px;
}

td.num {
    text-align: right;
}

/*
Efeito zebrado em tabela
Pode colocar o (odd) que apenas as colunas Ímpar
e              (even) que é Par
                (2n-1 ou 2n)
*/

/*
tbody>tr:nth-child(2n) {
    background-color: lightgray;
}
*/
tbody>tr:nth-child(odd) {
    background-color: white;
}

tbody>tr:nth-child(even) {
    background-color: lightgray;
}

thead,
tfoot {
    background-color: gray;
    color: white;
}